<a href="https://colab.research.google.com/github/NabilaAtiraQurratulAini/Penambangan-Data-B/blob/main/210411100066_Nabila_Atira_Qurratul_Aini_Penambangan_Data_Tugas_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PENGAMBILAN DATA

Menarik data iris di github dari postgresql yang kemudian dibaca dengan python dan dijadikan data frame

In [ ]:
!pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\asus\appdata\local\programs\python\python310\lib\site-packages (2.9.5)

In [ ]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\asus\appdata\local\programs\python\python310\lib\site-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\asus\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\asus\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2022.1)
Requirement already satisfied: numpy>=1.21.0 in c:\users\asus\appdata\local\programs\python\python310\lib\site-packages (from pandas) (1.24.2)
Requirement already satisfied: six>=1.5 in c:\users\asus\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [ ]:
import pandas as pd
import psycopg2 as ps

# KONEKSI DATA

In [ ]:
conn2 = ps.connect (dbname = "postgres",
                   user = "postgres",
                   password = "bangkalan11",
                   host = "localhost",
                   port = "5432")

In [ ]:
import psycopg2
import pandas as pd

# Connection parameters, yours will be different
param_dic = {
    "host"      : "localhost",
    "database"  : "postgres",
    "user"      : "postgres",
    "password"  : "bangkalan11"
}
def connect(params_dic):
    """ Connect to the PostgreSQL database server """
    conn = None
    try:
        # connect to the PostgreSQL server
        print('Connecting to the PostgreSQL database...')
        conn = psycopg2.connect(**params_dic)
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
        sys.exit(1) 
    print("Connection successful")
    return conn

In [ ]:
def postgresql_to_dataframe(conn, select_query, column_names):
    """
    Tranform a SELECT query into a pandas dataframe
    """
    cursor = conn.cursor()
    try:
        cursor.execute(select_query)
    except (Exception, psycopg2.DatabaseError) as error:
        print("Error: %s" % error)
        cursor.close()
        return 1
    
    # Naturally we get a list of tupples
    tupples = cursor.fetchall()
    cursor.close()
    
    # We just need to turn it into a pandas dataframe
    df = pd.DataFrame(tupples, columns=column_names)
    return df

# MENAMPILKAN DATAFRAME DATABASE

In [ ]:
# Connect to the database
conn = connect(param_dic)
column_names = ["sepal_length", "sepal_width", "petal_length", "petal_width", "variety"]

# Execute the "SELECT *" query
df = postgresql_to_dataframe(conn, "select * from iris", column_names)
df.head()

Connecting to the PostgreSQL database...
Connection successful

  sepal_length sepal_width petal_length petal_width variety
0          5.1         3.5          1.4          .2  Setosa
1          4.9           3          1.4          .2  Setosa
2          4.7         3.2          1.3          .2  Setosa
3          4.6         3.1          1.5          .2  Setosa
4            5         3.6          1.4          .2  Setosa